<template>
  <div class="login-wrap">
    <h1>{{ msg }}</h1>
    <ul class="btn">
      <li v-on:click="signup()">自分の勤怠表へログイン</li>
      <li>管理画面にログイン</li>
    </ul>
  </div>
</template>


<script>
import firebase from 'firebase'
import * as COMMON from '../common'

export default {
  name: 'Login',
  data () {
    return {
      msg: '勤怠表',
    }
  },
  computed:{
  },
  methods: {
    signup:function(){
      var provider = new firebase.auth.GoogleAuthProvider();
      firebase.auth().signInWithPopup(provider).then(
        result => {
          COMMON.user._name = result.user.displayName;
          this.$router.replace("TimeTable");
        },
        error  => {alert("ログインに失敗しました")}
      )
    },
  }
}
</script>

<style lang="scss" scoped>
@import "../assets/reset.scss";
.login-wrap {
  text-align: center;
  h1 {
    font-size: 30px;
    line-height: 30px;
    margin-top: 50px;
  }
  .btn {
    width: 200px;
    margin: 0 auto;
    font-size: 15px;
    line-height: 15px;
    margin-top: 30px;
    li {
      width: 100%;
      height: 40px;
      line-height: 40px;
      border: 1px solid #000;
      &:hover {
        cursor: pointer;
        background: #000;
        color: #FFF;
        transition: 0.5s;
      }
      &:first-of-type ~ li {
        margin-top: 30px;
      }
    }
  }
}

</style>
