<template>
	<div class="time-table-wrap">
	    <ul class="name-list clearfix">
	        <li>{{ name }}</li>
	        <li>1月</li>
	    </ul>
	    <ul class="buttons clearfix">
	      <li id="in-work" class="in-work"><button>出勤</button></li>
	      <li id="out-work" class="out-work"><button>退勤</button></li>
	      <li id="toggle-work" class="toggle-break"><button>休憩する</button></li>
	    </ul>
	    <ul class="kinmuTable clearfix">
		  <li>
		    <dl>
		      <dt>勤務日数</dt>
		      <dd>6日</dd>
		    </dl>
		  </li>
		  <li>
		    <dl>
		      <dt>勤務時間合計</dt>
		      <dd>31:15</dd>
		    </dl>
		  </li>
		  <li>
		    <dl>
		      <dt>法定労働時間を超えた残業時間分</dt>
		      <dd>-140</dd>
		    </dl>
		  </li>
		  <li>
		    <dl>
		      <dt>深夜残業時間合計</dt>
		      <dd>0:00</dd>
		    </dl>
		  </li>
		  <li>
		    <dl>
		      <dt>土曜勤務時間合計</dt>
		      <dd>0:00</dd>
		    </dl>
		  </li>
		  <li>
		    <dl>
		      <dt>休日勤務時間合計</dt>
		      <dd>0:00</dd>
		    </dl>
		  </li>
		</ul>
		<table id="time-table" class="time-table">
		  <tr>
		    <th>日付</th>
		    <th>開始時刻</th>
		    <th>終了時間</th>
		    <th>休憩(分)</th>
		    <th>深夜休憩（分）</th>
		    <th>勤務時間</th>
		    <th>うち深夜残業時間</th>
		  </tr>
		  <tr>
		    <td>28</td>
		    <td></td>
		    <td></td>
		    <td></td>
		    <td></td>
		    <td></td>
		    <td></td>
		  </tr>
		</table>
	</div>
</template>

<script>
import * as COMMON from '../common'

export default {
  name: 'TimeTable',
  data() {
  	return {
  		name : COMMON.user._name
  	}
   }
}
</script>

<style lang="scss">
@import "../assets/reset.scss";
.time-table-wrap {
	.name-list {
	  margin-top: 30px;
	  li {
	    float: left;
	    font-size: 18px;
	    font-weight: bold;
	    line-height: 18px;
	    margin-left: 20px;
	    &:nth-of-type(1) ~ li {
	      margin-left: 10px;
	    }
	  }
	}

	.buttons {
	  margin-top: 20px;
	  li {
	    float: left;
	    margin-left: 20px;
	  }
	}

	.kinmuTable {
	  display: inline-block;
	  margin: 20px 0 0 20px;
	  border: 1px solid #000;
	  li {
	    float: left;
	    dl {
	      font-size: 16px;
	      line-height: 16px;
	      dt {
	        width: 100%;
	        height: 30px;
	        line-height: 30px;
	        padding: 0 10px;
	        border-bottom: 1px solid #000;
	        box-sizing: border-box;

	      }
	      dd {
	        width: 100%;
	        text-align: center;
	        padding: 7px 0;
	      }
	    }
	  }
	}

	.time-table {
	  margin: 20px 20px 0;
	  border-collapse: collapse;
	  border-spacing: 0;
	  tr {
	    th {
	      background: gray;
	      color: #FFF;
	    }
	    td {
	      border-bottom: 1px solid #000;
	    }
	    th,td {
	      font-size: 14px;
	      font-weight: normal;
	      line-height: 14px;
	      padding: 10px;
	      text-align: center;
	    }
	  }
	}
}

</style>